.body {
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  margin-top: 169px;
}

.container_footer {
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
}

.detalhes {
  margin-top: 59px;
  h4 {
    margin: unset;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 20px;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
}

.cards {
  margin-top: 59px;
  h4 {
    margin: unset;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
}

.imagens__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.cadastre {
  width: 31%;
  height: 260px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 33px;
  margin-bottom: 32px;

  h5 {
    font-size: 18px;
    margin-left: 29px;
    margin-top: 40px;
    font-weight: 300;
    margin-bottom: 7px;
  }

  h2 {
    font-size: 18px;
    margin-left: 29px;
    margin-top: unset;
  }
}

.paragrafo {
  width: 88%;
  margin-left: 29px;
  margin-bottom: 41px;

  p {
    font-size: 12px;
  }
}

.button__ok {
  width: 88%;
  margin-left: 29px;

  input {
    height: 45px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    padding: 0px 0 0px 12px;
    outline: none;
    margin-right: 12pxF
  }

  button{
    height: 45px;
    width: 62px;
    background: #F71963;
    border-radius: 4px;
    border: unset;
    color: white;
  }
}
